<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>421943026990-5ea0o8tptcjfvcihevcskb41ctefqudr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.421943026990-5ea0o8tptcjfvcihevcskb41ctefqudr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>421943026990-cpqk38ldl7brs9i7tsldq39prql0jdf5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDu4wgol9M6gvKIl8e_0vpvAdVOKwgb2ZU</string>
	<key>GCM_SENDER_ID</key>
	<string>421943026990</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.supapk</string>
	<key>PROJECT_ID</key>
	<string>supapk</string>
	<key>STORAGE_BUCKET</key>
	<string>supapk.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:421943026990:ios:af425931987466c90ec6bf</string>
</dict>
</plist>